* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 14px;
}

html, body {
    height: 100%;
    background-color: #384d67;
}


.page-wrapper {
    height: 100%;
}

.page-header {
    height: 60px;
    background-color: #15a4fa;
}

.page-header__title {
    font-size: 27px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding: 9px;
}

.page-footer {
    height: 35px;
    background-color: #21344c;
}

.page-container {
    height: calc(100% - 95px);
    padding: 20px 0;
}

.page-container__table-wrapper {
    width: calc(100% - 30px);
    height: 100%;
    background: #1c324a;
    margin: 0 auto;
    /*overflow: auto;*/
}

.page-footer__text {
    font-size: 12px;
    float: right;
    color: #6180a7;
    padding: 9px 20px;
}

.page-footer__text a {
    color: inherit;
    font-weight: 600;
}